<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Real-Time Products</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <h1>Real-Time Product List</h1>
    <button onclick="openAddProductAlert()">Add Product</button>
    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Code</th>
                <th>Price</th>
                <th>Stock</th>
                <th>Category</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody id="product-table-body">
            {{!-- Aqui se renderizan los productos --}}
        </tbody>
    </table>

    <script src="/socket.io/socket.io.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/index.js"></script>
</body>
</html>

